<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-custom">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/game">Play Game</a>
              </li>
            </ul>
          </div>
        </div>
        </nav>
</header>

  <body>
    <div style="margin: 100px;">
      <h1>User Profile</h1>
      <h3>Your username: <%= data.username %></h3>
    
    <h4>Update your Biodata here</h4>
      <form id="userbio" action="/api/user/bio" method="POST">
        <label for="fisrtname"></label>
          <input type="fisrtname" style="margin-top: 10px;" placeholder="fisrtname" name="firstName" /> <br>
        <label for="lastname"></label>
          <input type="lastname" style="margin-top: 10px;" placeholder="lastname" name="lastName" /> <br>
        <label for="birthdate"></label>
          <input type="date" style="margin-top: 10px;" name="birthDate" /> <br>
        <label for="level"></label>
          <input type="hidden" style="margin-top: 10px;" name="level" value="silver" /> <br>
        <label for="id"></label>
          <input type="hidden" style="margin-top: 10px;" name="userId" value="<%= data.id %>" /> <br>
        <button type="submit" style="margin-top: 10px;">Submit</button>
      </form>
    </div>

  </body>
  <script>
    console.log($('#idid').val());
  </script>
  <!-- <script>
 $(document).ready(function() {
      console.log( "ready!" );
      $("#userbio").submit(function(e) {

      e.preventDefault(); // avoid to execute the actual submit of the form.

      var form = $(this);
      var url = form.attr('action');

      $.ajax({
            type: "POST",
            url: "/api/user/bio",
            data: form, // serializes the form's elements.
            success: function(data)
            {
                alert(data); // show response from the php script.
            }
          });


      });

  });
  
  // $.ajax({
  //   url: "/api/user/bio",
  //   data: {
  //     zipcode: 97201
  //   },
  //   success: function( result ) {
  //     $( "#weather-temp" ).html( "<strong>" + result + "</strong> degrees" );
  //   }
  // });

  // $.ajax({
  //       url: "http://localhost:8080/api/user/images",
  //       "method": "GET"
  //       }).done(function(response) {
  //           response.forEach(element => {
  //               $('#com-temp').append("<button class='button' id='"+element.name+"' style='pointer-events:none; background-color:none;'><img src='"+element.url+"' value='"+element.name+"'></button>");
  //               $('#player-temp').append("<button class='button' type='button' onclick='gamePlay(\""+element.name+"\")' ><img src='"+element.url+"' value='"+element.name+"'></button>");
  //           });
  // });
  
  </script> -->

</html>