<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-custom">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/game">Play Game</a>
              </li>
            </ul>
          </div>
        </div>
        </nav>
</header>

  <body>
    <div style="margin: 100px;">
      <h1>User Profile</h1><br>
      <h3>Your fisrtName: <%= data.firstName %></h3>
      <h3>Your lastName: <%= data.lastName %></h3>
      <h3>Your Birthdate: <%= data.birthDate.getDate()%> - <%= data.birthDate.getMonth() %> - <%= data.birthDate.getFullYear() %></h3>
      <h3>Your level: <%= data.level %></h3>
    </div>

  </body>
</html>